
.header { grid-area: header; }
.main { grid-area: main; }
.footer { grid-area: footer; }
.sub-header { grid-area: sub-header; }

body, html, .login-layout, .marketplace-layout {
    height: 100%;
}
body{
    margin: 0;
}

/* ===== LAYOUT ===== */

.login-layout {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 10% 30% auto 5%;
}

.marketplace-layout {
    display: grid;
    grid-template-columns: 2% 96% 2%;
    grid-template-rows: 10% 7% auto 5%;
}


.header {
    background-color: rgb(19, 99, 223);
    grid-area: 1 / 1 / 2 / 4;
}
.sub-header {
    background-color: gainsboro;
    margin-bottom: 10px;
    grid-area: 2 / 1 / 3 / 4;
}
.main{
    grid-area: 3 / 2 / 4 / 3;
}

.footer {
    background-color: rgb(19, 99, 223);
    grid-area: 4 / 1 / 5 / 4;
}

/* ===== ELEMENT ===== */
.input {
    width: 100%;
    border: 1px solid grey;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-top: 15px;
    font-size: 25px;
}

.button {
    width: 100%;
    border: 1px solid rgb(71, 181, 255);
    background-color: rgb(19, 99, 223);
    border: 1px solid rgb(71, 181, 255);
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-bottom: 20px;
    text-size-adjust: 20px;
    font-size: 25px;

}

.navbar {
    display: flex;
}
.navbar-item {
    background-color: rgb(43, 115, 222);
    width: 50%;
    border: 1px solid rgb(43, 102, 212);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item:hover {
    background-color: rgb(71, 181, 255);
    
}
.card {
    border: 1px solid black;
    margin-left : 1%;
    margin-right : 1%;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    max-height: 500px;
    width: 47%;
}


/* ===== MINOR ===== */
/* flex */
.justify-center {
    display: flex;
    justify-content: space-around;
}
.justify-start {
    display: flex;
    justify-content: flex-start;
}
.justify-between {
    display: flex;
    justify-content: space-between;
}
.align-center {
    display: flex;
    align-items: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

/* text */
.c-white {
    color: white;
}
.text-1 {
    font-size: 20px;
}
.text-2 {
    font-size: 25px;
}
.ml-2 {
    margin-left: 2%;
}
.mr-2 {
    margin-right: 2%;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}


/* ===== Media Query ===== */

.screen-formatter {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 1300px) { 
    .screen-formatter {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .card{
        width: 100%;
    }

    .input {
        width: 100%;
        border: 1px solid grey;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 22px;
        padding-bottom: 22px;
        margin-top: 15px;
        font-size: 25px;
    }

    .button {
        width: 100%;
        border: 1px solid rgb(71, 181, 255);
        background-color: rgb(19, 99, 223);
        border: 1px solid rgb(71, 181, 255);
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 22px;
        padding-bottom: 22px;
        margin-bottom: 20px;
        text-size-adjust: 20px;
        font-size: 25px;
    
    }
}